.env
__pycache__/
output/
.vs/crewai-groq-tutorial/FileContentIndex/fce1fefd-4b7a-4ff8-96d3-c7ebd030f628.vsidx
.vs/crewai-groq-tutorial/FileContentIndex/5197122b-9c05-444c-b561-4ab0135e66ae.vsidx
.vs/crewai-groq-tutorial/FileContentIndex/af9b5185-eb52-4b38-b61f-b42e20d4959d.vsidx
.vs/crewai-groq-tutorial/FileContentIndex/af9b5185-eb52-4b38-b61f-b42e20d4959d.vsidx
.gitignore
.vs/crewai-groq-tutorial/FileContentIndex/955f5300-9c4b-4a32-95b1-c47b9bda3822.vsidx
